<%= flash_messages %>
<body>
  <div class="container">
      <h1>Floorplans: </h1>

    <div class="col-lg-6">
     <div id="apartment1">
       <div class="logo-image">
        <%= image_tag "layout1" %>
       </div>
     </div>
    </div>

      <div class="col-lg-5">
       <div id="apartment2">
         <div class="logo-image">
          <%= image_tag "layout2" %>
         </div>
       </div>
      </div>

	</div>
</body>
