<%= flash_messages %>
<body>
  <div class="container">
      <h1>Amenities </h1>
     <ul>
       <li>washer dryers</li>

  <div class="row">
    <div class="col-md-6">
     <div id="apartment1">
       <div class="logo-image">
        <%= image_tag "laundry" %>
       </div>
     </div>
    </div>
  </div>
        <li>Sundeck:</li>
      <div class="row">
      <div class="col-md-6">
       <div id="apartment2">
         <div class="logo-image">
          <%= image_tag "sundeck" %>
         </div>
       </div>
       </div>
      </div>
      </ul>

	</div>
</body>
