<%= flash_messages %>
<body>
  <div class="container">
      <%= image_tag("building2.jpeg", :class => "background") %>
    <div class="inner">
		<!-- <header class="header-group"> -->
      <h2 class="text-main2"> Vicinity</h2>
      <h4 class="text-main4">buy * sell * barter</h4>
		  <h3 id="text-main3">Make your home your community</h3>
	<!-- </header> -->

		</div>
	</div>
</body>
