<%= flash_messages %>
<body>

<div class="block">
		<!-- <header class="header-group"> -->

    <%= image_tag("building2.jpeg", :class => "background") %>
		<h2> Vicinity</h2>
		<h3>Making your home into a community</h3>
	<!-- </header> -->
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>
</body>
