<%= flash_messages %>
<body>
  <div class="container">
      <%= image_tag("building2.jpeg", :class => "background") %>
    <div class="inner">
		<!-- <header class="header-group"> -->
      <h2> Vicinity</h2>
		  <h3>Make your home your community</h3>
	<!-- </header> -->

		</div>
	</div>
</body>
