body {
  margin: 0;
}

#partners {
  height: 105px;
  background-color: #eee;
  white-space: nowrap;
  width: 100%;
  display: table;
}

.logo-image {
  vertical-align: middle;
  padding: 13px;
  display: table-cell;
}
.logo-image2 {
  vertical-align: middle;
  padding: 13px;
  display: table-cell;
}
.logo-image img {
  max-width: 100%;
}
